.overlay{
    margin-top: 85px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.place-an-order-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    width: 80%;
}

.place-an-order-btn:active{
    width: 82%;
}

.blk-place-an-order{
    text-align: center;
}

.drawer {
    padding: 5px;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    border-radius: 10px;
    position:relative;
    height:60%;
    font-size: 1.0vmax ;
}

.drawer-items{
    overflow-y:scroll;
    height: 75%;
}

.total-count{
    font-size: 1vmax ;
    margin-bottom: 0px;
}

.drawer-footer{
    height: 25%;
}

.line{
    margin: 0px;
}

.drawer-price{
    height: 30%;
}

.drawer-name{
    font-size: 1.5vmax ;
    margin-bottom: 0px;
}

.total-price{
    text-align: right;
}

.drawer-items::-webkit-scrollbar {
    width: 0.2em;
}

.drawer-items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
}

.drawer-items::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid red;
    border-radius: 20px;
}