.drawer-item{
    padding: 5px;
    background-color: aliceblue;
    margin:10px;
    border-radius: 10px;
}

.btn-remove{
    text-align: right;
}

.rm{
    border: none;
    background-color: aliceblue;
}

.price-in-item-drawer{
    padding-top: 10px;
}

.button-on-item-drawer{
    background-color:aliceblue;
    color: red;
    font-size: 1.4vmax ;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    border-color: aliceblue;
}

.button-on-item-drawer:active{
    box-shadow: -10px 4px 24px rgba(0, 0, 0, .2);
}