#main-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('public/img/background.jpg');
    background-size: cover;
    max-width: 100vw;
}

html, body {
    height: 100vh;
}

form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

h1 {
    font-size: 60px;
    font-weight: 650;
}

h6 {
    font-size: 12px;
}

.form-control-feedback {
    padding-top: 2px;
    font-size: 14px;
    color: rgba(225, 2, 2, 0.88);
}
