server:
  port: 8083

spring:
  application:
    name: restaurant-info-service
    bucket:
      name: food-delivery-dishes
  datasource:
    username: postgres #edit
    password: 1234 #edit
    url: jdbc:postgresql://localhost:5432/restaurant_info_service?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:liquibase/db/changelog/db-changelog-master.xml
    url: jdbc:postgresql://localhost:5432/restaurant_info_service?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    user: postgres #edit
    password: 1234 #edit

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

cloud:
  aws:
    credentials:
      access-key: AKIA4B22QZQFIT6FKUNZ
      secret-key: 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
    region:
      static: us-east-1
    stack:
      auto: false