.most-popular-card{
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    padding: 15px;
    width:  240px;
    border-radius: 10px;
    text-align: center;
}

.product-name{
    margin-bottom: 0px;
}

.bottom-row{
    display: flex;
}

.popular-card-price{
    display: flex;
    font-size: 10px;
    margin-top: 10px;
}



.button {
    background-color: white;
    color: red;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
}

.btn-plus-minus{
    margin-left: 5px;
    font-size: 20px;
}