.most-popular-card{
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    padding: 15px;
    width:  250px;
    border-radius: 10px;
    text-align: center;
}

.most-popular-card:hover{
    box-shadow: -10px 4px 24px rgba(0, 0, 0, .2);
}

.product-name{
    margin-bottom: 0px;
}

.bottom-row{
    display: flex;
}

.our-sales{
    display: block;
    font-size: 10px;
    margin-top: 10px;
}

.discount{
    font-size: 15px;
    color: red;
    margin-right: 5px;
}

.btn-plus-minus-on-sales-car{
    font-size: 20px;
    display: flex;
    padding-top: 5px;
}

.count-of-product{
    width: 33px;
    padding-top: 5px;
}

.button{
    background-color: white;
    color: red;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
}

.button:active{
    box-shadow: -10px 4px 24px rgba(0, 0, 0, .2);
}

.price{
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
    margin-right: 5px;
}

.price-text{
    margin-right: 20px;
}