.courier-image{
    width:90%;
    height: auto;
}

.title{
    text-align: center;
    padding-bottom: 1%;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.box{
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    background-color: aliceblue;
    display: flex;
}

.actions{
    margin-bottom: auto;
    margin-top: auto;
    padding: 15%;
}

.managers-space{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*text-align: center;*/
}

.info {
    padding-top: 30px;
    /*width: 70%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.managers-block, .delivery-organization-block {
    display: flex;
    flex-direction: column;
}
.user-info, .delivery-organization-info{
    margin-top: 7px;
    margin-bottom: 15px;
    padding: 16px;
    border-radius: 20px;
    background-color: white;
}
.link{
    color: black;
    text-decoration: none;
    text-align: center;
    width: auto;
}
h4 {
    color: red;

}
.link-div{
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 20rem;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.link:hover{
    color: red;
}